@model PontoDeAjuda.Ponto

@{ ViewBag.Title = "Detalhes"; }


<div class="content-block contact-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="contact" class="form-container">
                    <fieldset>
                        <div class="page-header">
                            <h1 class="text-center text-success">
                                Detalhes <br><small>Pontos de Ajuda</small>
                            </h1>
                        </div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nome)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Descricao)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Endereco)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Telefone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Telefone)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DataFinal)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DataFinal)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Doacoes)
                            </dt>

                            <dd>
                                <table>
                                    <tr>
                                        @{ int cnt = 0;
                                            List<PontoDeAjuda.Models.AssignedDoacaoData> doacoes = ViewBag.Doacoes;

                                            foreach (var doacao in doacoes)
                                            {
                                                if (cnt++ % 3 == 0)
                                                {
                                @:</tr><tr>
                                }
                                @:<td>
                                    
                                                    @doacao.Nome @:  <i class="@doacao.icon"></i> <br />
                                                @:</td>
                                            }
                                @:</tr>
                                        }
                                    </table>
                            </dd>

                        </dl>

                        @if (User.IsInRole("Admin"))
                        {
            <a href="@Url.Action("Edit", new { id = Model.PontoID })" class="btn btn-success pull-right">Editar</a>}

                    </fieldset>
                </div>
                <!-- /.form-container -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div> 