@model PontoDeAjuda.Ponto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Ponto de Ajuda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doacoes)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Doação</th>
                </tr>
                <tr>
                    <th>icone</th>
                </tr>
                @{
                    int cnt = 0;

                    foreach (var doacao in Model.Doacoes)
                    {
                        <tr>
                            <td>
                                @doacao.Nome
                            </td>
                            <td>
                                <i class="@doacao.icon"></i>
                            </td>
                        </tr>
                    }
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PontoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
