@model IEnumerable<PontoDeAjuda.Ponto>

@{ ViewBag.Title = "Pontos"; }

<div class="page-header text-primary text-center">
    <h1>Pontos</h1>
</div>

<a href="@Url.Action("Create", "Pontos")" class="btn btn-info">Criar Novo</a>


<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DataFinal)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th class="text-center">
            Suprimentos
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Descricao)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Endereco)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Telefone)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.DataFinal)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.CreationTime)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td class="text-center">
        @foreach (var doacao in item.Doacoes)
        {
@doacao.Nome @:  <i class="@doacao.icon"></i> <br />
}
    </td>
    <td class="text-center">
        <a href="@Url.Action("Details", new { id=item.PontoID })" class="btn btn-sm btn-info">Detalhes</a>
        @if (User.IsInRole("Admin"))
        {
<a href="@Url.Action("Delete", new { id = item.PontoID })" class="btn btn-sm btn-warning">Apagar</a>}

    </td>
</tr>}

</table>
