@using PontoDeAjuda.Models
@model LoginViewModel
@{
ViewBag.Title = "Login";
}

<div class="content-block contact-3">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                    new { @class = "form-horizontal", role = "form" }))
                    {
        @Html.AntiForgeryToken()
                        <div class="page-header text-primary text-center">
                            <h1>Login</h1>
                        </div>
                                        <div id="contact" class="form-container">
                                            <fieldset>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div id="message"></div>
                                                <form method="post" action="js/contact-form.php" name="contactform" id="contactform">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.CheckBoxFor(m => m.RememberMe)
                                                        @Html.LabelFor(m => m.RememberMe)
                                                    </div>
                                                    <div class="form-group pull-right">
                                                        <button class="btn btn-success" type="submit" id="cf-submit" name="submit">Logar</button>
                                                    </div>
                                                    <p>
                                                        @Html.ActionLink("Registre-se como um novo usuário", "Register")
                                                    </p>
                                                </form>
                                            </fieldset>
                                        </div> <!-- /.form-container -->}
                </section>
            </div>
        </div>
        
        <!-- /.row -->
    </div>

  @section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
  }