@model PontoDeAjuda.Suprimento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Suprimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SuprimentoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
